
/MocapPlayer/.spyproject
/MocapPlayer/__pycache__
/MocapPlayer/common/__pycache__
/MocapRecorder/.spyproject
/XSens2Osc/.vs/xsens2osc/FileContentIndex
/XSens2Osc/.vs
/XSens2Osc/obj
/Qtm2Osc/.spyproject
/MocapRecorder/recordings
/MocapPlayer_old/.spyproject
/MocapPlayer_old/__pycache__
/MocapPlayer_old/common/__pycache__
/MocapPlayer_v2/.spyproject
/MocapPlayer_multi/.spyproject
/MocapPlayer_multi/__pycache__
/MocapPlayer_multi/common/__pycache__
/MocapPlayer_v2/__pycache__
/MocapPlayer_v2/common/__pycache__
/MocapPlayer/.ipynb_checkpoints
/MocapPlayer/.virtual_documents
/SensorRecorder/.spyproject
/SensorRecorder_Xsens/.spyproject
/SensorRecorder_Xsens/.ipynb_checkpoints
/MocapPlayer
/XSens2Osc_FBX/.vs
/XSens2Osc_FBX/obj
/XSens2Osc_FBX_v2/.vs
/XSens2Osc_FBX_v2/obj
/MocapPlayer_v3/__pycache__
/MocapPlayer_v3/common/__pycache__
/MocapPlayer_v3/.spyproject
/SensorRecorder_v2/.spyproject
/MocapPlayer_v3_
/MocapPlayer_v2_npz/.spyproject
/MocapPlayer_v2_npz/__pycache__
/MocapPlayer_v2_npz/common/__pycache__
